@{
    ViewData["Title"] = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-container">
    <h2>Şifremi Unuttum</h2>
    <form method="post" asp-action="ForgotPassword" asp-controller="Account">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="email" name="email" class="form-control" placeholder="E-Posta adresiniz" required>
        <button type="submit" class="btn-login">Şifre Sıfırlama Linki Gönder</button>
    </form>
    <div class="form-text">
        <a asp-controller="Account" asp-action="Login">Giriş Yap</a><br>
        <a asp-controller="Account" asp-action="Register">Bir hesabınız yok mu? Kayıt ol</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
