<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">Cabinly</a>
  
      <div class="d-flex d-lg-none order-lg-last">
        <a class="login-btn" href="login.html">Giriş Yap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarModern" aria-controls="navbarModern" aria-expanded="false" aria-label="Menüyü Aç/Kapa">
            <span class="navbar-toggler-icon"></span>
        </button>
      </div>
  
      <div class="collapse navbar-collapse" id="navbarModern">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">Ana Sayfa</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="aboutPage.html">Hakkımızda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactPage.html">İletişim</a>
          </li>
        </ul>
        <div class="d-none d-lg-flex">
          <a href="login.html" class="btn login-btn">Giriş Yap</a>
        </div>
      </div>
    </div>
  </nav>
  