@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Hakkımızda";
}

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="about-box text-center">
        <h2 class="mb-4">Hakkımızda</h2>
        <p>Doğayla iç içe, minimal yaşam alanlarına duyulan ilgi her geçen gün artarken biz de bu dönüşüme öncülük etmeyi hedefledik. 
            <strong>Cabinly</strong> olarak, tiny house konseptli kiralama platformumuzla hem ev sahiplerini hem de doğa sever misafirleri bir araya getiren yenilikçi bir buluşma noktası yaratıyoruz.
             Küçük ama işlevsel evler, kullanıcılarımıza sade yaşamın ve doğal çevrenin tadını çıkarma fırsatı sunuyor.</p>
              <p><strong>Cabinly</strong> 
                platformunda, tiny house sahibi olan kullanıcılar evlerini kolayca ilan vererek kiraya sunabilirken, gezginler de istedikleri lokasyonda benzersiz bir konaklama deneyimi için hızlıca rezervasyon yapabilirler. Her iki taraf için de güvenli, pratik ve şeffaf bir sistem sunuyoruz. Doğayla iç içe olmak, bir şehir kaosundan uzaklaşmak isteyen herkes için en uygun konaklama seçeneklerini sunuyoruz.</p> 
                <p>Amacımız; sade yaşamı benimseyenleri, şehir kalabalığından uzaklaşıp huzur arayanları ve doğaya saygılı bir tatil isteyenleri güvenli ve pratik bir sistemle buluşturmak. Şeffaf kiralama süreçleri, kullanıcı dostu arayüzümüz ve profesyonel destek ekibimizle her adımda yanınızdayız. 
                    <strong>Cabinly</strong> ile doğanın kalbinde vakit geçirirken, tatilinizi en verimli şekilde planlayabilirsiniz.</p> <p>Platformumuzda, kullanıcıların sadece konaklama değil, aynı zamanda doğayla baş başa kalabilecekleri, stressiz bir yaşam deneyimi yaşamalarını sağlıyoruz. Aynı zamanda her ev sahibi için de şeffaf, güvenilir ve kazançlı bir ortam sunuyoruz. Ev sahipleri, tiny house'larını kiraya vererek ek gelir elde edebilir ve doğa ile iç içe olmanın keyfini çıkarabilirler.</p> 
                    <p>İster bir dağ evinde sessiz bir hafta sonu, ister göl kenarında huzurlu bir tatil... Hayalinizdeki küçük ama özgür yaşamı keşfetmek için doğru yerdesiniz. <strong>Cabinly</strong> olarak, size en uygun tiny house'u bulmak ve unutulmaz bir deneyim yaşamak için buradayız.</p>
    </div>
</div>  